<!DOCTYPE html>
<html>
    <head>
        <script src="https://kit.fontawesome.com/dca6bfdd72.js"></script>
        <link href="CSS/formatter.css" rel="stylesheet">
        <title>My Workout Planner</title>
        <script src="JS/jquery-3.4.1.min.js"></script>
        <script src="JS/jqueryformatter.js"></script>
    </head>
    <div id="header">
    <ul class="headerbanner">
        <div class="navigatorcontainer">
            <li class="headerbanner"><a href="home.html" class="bannerlinks">
                <i class="fas fa-home" style="padding: 4px;"></i>Home</a></li>
        </div>

        <div id="workoutDropDown">
            <div class="navigatorcontainer"> 
                <li class="headerbanner"><a class="bannerlinks" href="workoutHomePage.html">
                    <i class="fas fa-dumbbell" style="padding: 4px;"></i>Workout Planner</a></li>
                <div id="workoutDropDownContent">
                </div>
            </div>
        </div>  
    </ul>
    </div>
    <body>
        <div id="divtable">
        <form action="PHP/form_handler.php" method="POST">
            <table id="workout-table">
                <tr style="border-bottom: black;">
                    <th>Day</th>
                    <th>Group</th>
                    <th>Workout</th>
                    <th>Reps</th>
                    <th>Sets</th>
                    <th>Weight</th>
                    <th>Comment</th>
                </tr>
                <tr>
                    <td rowspan="19" style="text-align: center;">03/02/2020</td>
                    <td rowspan="3" style="text-align: center;">Chest</td>
                        <td>
                            <select class="workoutDropDown">
                                <option value="Chest1">Alternate Dumbell Bench Press</option>
                                <option value="Chest1">Diamond Push Ups</option>
                                <option value="Chest1">One Arm Dumbell Flys</option>
                                <option value="Chest1">Bent Over Dumbell Row</option>
                                <option value="Chest1">Dumbell Deadlift</option>
                                <option value="Chest1">Arnould Press</option>
                                <option value="Chest1">Upright Row</option>
                                <option value="Chest1">Weighted Glute Bridge</option>
                                <option value="Chest1">Lunge</option>
                                <option value="Chest1">Alternate Dumbell Curl</option>
                                <option value="Chest1">Tricep Extension With Pause</option>
                                <option value="Chest1">One Arm Seated Dumbell Curl</option>
                                <option value="Chest1">Neck Extension</option>
                                <option value="Chest1">Bicycle Crunch</option>
                                <option value="Chest1">Toe Touches</option>
                                <option value="Chest1">Butt Raises</option>
                            </select>
                        </td>
                    <td>20, 15</td>
                    <td></td>
                    <td></td>
                    <td class="comment"></td>
                </tr>
                <tr>
                    <td>
                        <select class="workoutDropDown">
                            <option value="Chest1">Alternate Dumbell Bench Press</option>
                            <option value="Chest1">Diamond Push Ups</option>
                            <option value="Chest1">One Arm Dumbell Flys</option>
                            <option value="Chest1">Bent Over Dumbell Row</option>
                            <option value="Chest1">Dumbell Deadlift</option>
                            <option value="Chest1">Arnould Press</option>
                            <option value="Chest1">Upright Row</option>
                            <option value="Chest1">Weighted Glute Bridge</option>
                            <option value="Chest1">Lunge</option>
                            <option value="Chest1">Alternate Dumbell Curl</option>
                            <option value="Chest1">Tricep Extension With Pause</option>
                            <option value="Chest1">One Arm Seated Dumbell Curl</option>
                            <option value="Chest1">Neck Extension</option>
                            <option value="Chest1">Bicycle Crunch</option>
                            <option value="Chest1">Toe Touches</option>
                            <option value="Chest1">Butt Raises</option>
                        </select>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="comment"></td>
                </tr>
                <tr>
                    <td>
                        <select class="workoutDropDown">
                            <option value="Chest1">Alternate Dumbell Bench Press</option>
                            <option value="Chest1">Diamond Push Ups</option>
                            <option value="Chest1">One Arm Dumbell Flys</option>
                            <option value="Chest1">Bent Over Dumbell Row</option>
                            <option value="Chest1">Dumbell Deadlift</option>
                            <option value="Chest1">Arnould Press</option>
                            <option value="Chest1">Upright Row</option>
                            <option value="Chest1">Weighted Glute Bridge</option>
                            <option value="Chest1">Lunge</option>
                            <option value="Chest1">Alternate Dumbell Curl</option>
                            <option value="Chest1">Tricep Extension With Pause</option>
                            <option value="Chest1">One Arm Seated Dumbell Curl</option>
                            <option value="Chest1">Neck Extension</option>
                            <option value="Chest1">Bicycle Crunch</option>
                            <option value="Chest1">Toe Touches</option>
                            <option value="Chest1">Butt Raises</option>
                        </select>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="comment"></td> 
                </tr>
                <tr>
                    <td rowspan="2" style="text-align: center;">Back</td>
                    <td>
                        <select class="workoutDropDown">
                            <option value="Chest1">Alternate Dumbell Bench Press</option>
                            <option value="Chest1">Diamond Push Ups</option>
                            <option value="Chest1">One Arm Dumbell Flys</option>
                            <option value="Chest1">Bent Over Dumbell Row</option>
                            <option value="Chest1">Dumbell Deadlift</option>
                            <option value="Chest1">Arnould Press</option>
                            <option value="Chest1">Upright Row</option>
                            <option value="Chest1">Weighted Glute Bridge</option>
                            <option value="Chest1">Lunge</option>
                            <option value="Chest1">Alternate Dumbell Curl</option>
                            <option value="Chest1">Tricep Extension With Pause</option>
                            <option value="Chest1">One Arm Seated Dumbell Curl</option>
                            <option value="Chest1">Neck Extension</option>
                            <option value="Chest1">Bicycle Crunch</option>
                            <option value="Chest1">Toe Touches</option>
                            <option value="Chest1">Butt Raises</option>
                        </select>
                    </td>
                    <td>12, 10</td>
                    <td></td>
                    <td></td>
                    <td class="comment"></td>
                </tr>
                <tr>
                    <td>
                        <select class="workoutDropDown">
                            <option value="Chest1">Alternate Dumbell Bench Press</option>
                            <option value="Chest1">Diamond Push Ups</option>
                            <option value="Chest1">One Arm Dumbell Flys</option>
                            <option value="Chest1">Bent Over Dumbell Row</option>
                            <option value="Chest1">Dumbell Deadlift</option>
                            <option value="Chest1">Arnould Press</option>
                            <option value="Chest1">Upright Row</option>
                            <option value="Chest1">Weighted Glute Bridge</option>
                            <option value="Chest1">Lunge</option>
                            <option value="Chest1">Alternate Dumbell Curl</option>
                            <option value="Chest1">Tricep Extension With Pause</option>
                            <option value="Chest1">One Arm Seated Dumbell Curl</option>
                            <option value="Chest1">Neck Extension</option>
                            <option value="Chest1">Bicycle Crunch</option>
                            <option value="Chest1">Toe Touches</option>
                            <option value="Chest1">Butt Raises</option>
                        </select>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="comment"></td>
                </tr>
                <tr>
                    <td rowspan="2" style="text-align: center;">Shoulders</td>
                    <td>
                        <select class="workoutDropDown">
                            <option value="Chest1">Alternate Dumbell Bench Press</option>
                            <option value="Chest1">Diamond Push Ups</option>
                            <option value="Chest1">One Arm Dumbell Flys</option>
                            <option value="Chest1">Bent Over Dumbell Row</option>
                            <option value="Chest1">Dumbell Deadlift</option>
                            <option value="Chest1">Arnould Press</option>
                            <option value="Chest1">Upright Row</option>
                            <option value="Chest1">Weighted Glute Bridge</option>
                            <option value="Chest1">Lunge</option>
                            <option value="Chest1">Alternate Dumbell Curl</option>
                            <option value="Chest1">Tricep Extension With Pause</option>
                            <option value="Chest1">One Arm Seated Dumbell Curl</option>
                            <option value="Chest1">Neck Extension</option>
                            <option value="Chest1">Bicycle Crunch</option>
                            <option value="Chest1">Toe Touches</option>
                            <option value="Chest1">Butt Raises</option>
                        </select>
                    </td>
                    <td>15, 10</td>
                    <td></td>
                    <td></td>
                    <td class="comment"></td>
                </tr>
                <tr>
                    <td>
                        <select class="workoutDropDown">
                            <option value="Chest1">Alternate Dumbell Bench Press</option>
                            <option value="Chest1">Diamond Push Ups</option>
                            <option value="Chest1">One Arm Dumbell Flys</option>
                            <option value="Chest1">Bent Over Dumbell Row</option>
                            <option value="Chest1">Dumbell Deadlift</option>
                            <option value="Chest1">Arnould Press</option>
                            <option value="Chest1">Upright Row</option>
                            <option value="Chest1">Weighted Glute Bridge</option>
                            <option value="Chest1">Lunge</option>
                            <option value="Chest1">Alternate Dumbell Curl</option>
                            <option value="Chest1">Tricep Extension With Pause</option>
                            <option value="Chest1">One Arm Seated Dumbell Curl</option>
                            <option value="Chest1">Neck Extension</option>
                            <option value="Chest1">Bicycle Crunch</option>
                            <option value="Chest1">Toe Touches</option>
                            <option value="Chest1">Butt Raises</option>
                        </select>
                    </td>
                    <td>20, 20</td>
                    <td></td>
                    <td></td>
                    <td class="comment"></td>
                </tr>
                <tr>
                    <td rowspan="1" style="text-align: center;">Glute</td>
                    <td>
                        <select class="workoutDropDown">
                            <option value="Chest1">Alternate Dumbell Bench Press</option>
                            <option value="Chest1">Diamond Push Ups</option>
                            <option value="Chest1">One Arm Dumbell Flys</option>
                            <option value="Chest1">Bent Over Dumbell Row</option>
                            <option value="Chest1">Dumbell Deadlift</option>
                            <option value="Chest1">Arnould Press</option>
                            <option value="Chest1">Upright Row</option>
                            <option value="Chest1">Weighted Glute Bridge</option>
                            <option value="Chest1">Lunge</option>
                            <option value="Chest1">Alternate Dumbell Curl</option>
                            <option value="Chest1">Tricep Extension With Pause</option>
                            <option value="Chest1">One Arm Seated Dumbell Curl</option>
                            <option value="Chest1">Neck Extension</option>
                            <option value="Chest1">Bicycle Crunch</option>
                            <option value="Chest1">Toe Touches</option>
                            <option value="Chest1">Butt Raises</option>
                        </select>
                    </td>
                    <td>20, 20</td>
                    <td></td>
                    <td></td>
                    <td class="comment"></td>
                </tr>
                <tr>
                    <td rowspan="2" style="text-align: center;">Quads</td>
                    <td>
                        <select class="workoutDropDown">
                            <option value="Chest1">Alternate Dumbell Bench Press</option>
                            <option value="Chest1">Diamond Push Ups</option>
                            <option value="Chest1">One Arm Dumbell Flys</option>
                            <option value="Chest1">Bent Over Dumbell Row</option>
                            <option value="Chest1">Dumbell Deadlift</option>
                            <option value="Chest1">Arnould Press</option>
                            <option value="Chest1">Upright Row</option>
                            <option value="Chest1">Weighted Glute Bridge</option>
                            <option value="Chest1">Lunge</option>
                            <option value="Chest1">Alternate Dumbell Curl</option>
                            <option value="Chest1">Tricep Extension With Pause</option>
                            <option value="Chest1">One Arm Seated Dumbell Curl</option>
                            <option value="Chest1">Neck Extension</option>
                            <option value="Chest1">Bicycle Crunch</option>
                            <option value="Chest1">Toe Touches</option>
                            <option value="Chest1">Butt Raises</option>
                        </select>
                    </td>
                    <td class="comment">20, 20</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <select class="workoutDropDown">
                            <option value="Chest1">Alternate Dumbell Bench Press</option>
                            <option value="Chest1">Diamond Push Ups</option>
                            <option value="Chest1">One Arm Dumbell Flys</option>
                            <option value="Chest1">Bent Over Dumbell Row</option>
                            <option value="Chest1">Dumbell Deadlift</option>
                            <option value="Chest1">Arnould Press</option>
                            <option value="Chest1">Upright Row</option>
                            <option value="Chest1">Weighted Glute Bridge</option>
                            <option value="Chest1">Lunge</option>
                            <option value="Chest1">Alternate Dumbell Curl</option>
                            <option value="Chest1">Tricep Extension With Pause</option>
                            <option value="Chest1">One Arm Seated Dumbell Curl</option>
                            <option value="Chest1">Neck Extension</option>
                            <option value="Chest1">Bicycle Crunch</option>
                            <option value="Chest1">Toe Touches</option>
                            <option value="Chest1">Butt Raises</option>
                        </select>
                    </td>
                    <td>20, 20</td>
                    <td></td>
                    <td></td>
                    <td class="comment"></td>
                </tr>
                <tr>
                    <td rowspan="1" style="text-align: center;">Biceps</td>
                    <td>
                        <select class="workoutDropDown">
                            <option value="Chest1">Alternate Dumbell Bench Press</option>
                            <option value="Chest1">Diamond Push Ups</option>
                            <option value="Chest1">One Arm Dumbell Flys</option>
                            <option value="Chest1">Bent Over Dumbell Row</option>
                            <option value="Chest1">Dumbell Deadlift</option>
                            <option value="Chest1">Arnould Press</option>
                            <option value="Chest1">Upright Row</option>
                            <option value="Chest1">Weighted Glute Bridge</option>
                            <option value="Chest1">Lunge</option>
                            <option value="Chest1">Alternate Dumbell Curl</option>
                            <option value="Chest1">Tricep Extension With Pause</option>
                            <option value="Chest1">One Arm Seated Dumbell Curl</option>
                            <option value="Chest1">Neck Extension</option>
                            <option value="Chest1">Bicycle Crunch</option>
                            <option value="Chest1">Toe Touches</option>
                            <option value="Chest1">Butt Raises</option>
                        </select>
                    </td>
                    <td>12, 12</td>
                    <td></td>
                    <td></td>
                    <td class="comment">Pumped</td>
                </tr>
                <tr>
                    <td rowspan="1" style="text-align: center;">Tricep</td>
                    <td>
                        <select class="workoutDropDown">
                            <option value="Chest1">Alternate Dumbell Bench Press</option>
                            <option value="Chest1">Diamond Push Ups</option>
                            <option value="Chest1">One Arm Dumbell Flys</option>
                            <option value="Chest1">Bent Over Dumbell Row</option>
                            <option value="Chest1">Dumbell Deadlift</option>
                            <option value="Chest1">Arnould Press</option>
                            <option value="Chest1">Upright Row</option>
                            <option value="Chest1">Weighted Glute Bridge</option>
                            <option value="Chest1">Lunge</option>
                            <option value="Chest1">Alternate Dumbell Curl</option>
                            <option value="Chest1">Tricep Extension With Pause</option>
                            <option value="Chest1">One Arm Seated Dumbell Curl</option>
                            <option value="Chest1">Neck Extension</option>
                            <option value="Chest1">Bicycle Crunch</option>
                            <option value="Chest1">Toe Touches</option>
                            <option value="Chest1">Butt Raises</option>
                        </select>
                    </td>
                    <td >15, 15</td>
                    <td></td>
                    <td></td>
                    <td class="comment">Too Easy</td>
                </tr>
                <tr>
                    <td rowspan="1" style="text-align: center;">Forearm</td>
                    <td>
                        <select class="workoutDropDown">
                            <option value="Chest1">Alternate Dumbell Bench Press</option>
                            <option value="Chest1">Diamond Push Ups</option>
                            <option value="Chest1">One Arm Dumbell Flys</option>
                            <option value="Chest1">Bent Over Dumbell Row</option>
                            <option value="Chest1">Dumbell Deadlift</option>
                            <option value="Chest1">Arnould Press</option>
                            <option value="Chest1">Upright Row</option>
                            <option value="Chest1">Weighted Glute Bridge</option>
                            <option value="Chest1">Lunge</option>
                            <option value="Chest1">Alternate Dumbell Curl</option>
                            <option value="Chest1">Tricep Extension With Pause</option>
                            <option value="Chest1">One Arm Seated Dumbell Curl</option>
                            <option value="Chest1">Neck Extension</option>
                            <option value="Chest1">Bicycle Crunch</option>
                            <option value="Chest1">Toe Touches</option>
                            <option value="Chest1">Butt Raises</option>
                        </select>
                    </td>
                    <td>15, 14</td>
                    <td></td>
                    <td></td>
                    <td class="comment">Hard, but feel better</td>
                </tr>
                <tr>
                    <td rowspan="1" style="text-align: center;">Neck</td>
                    <td>
                        <select class="workoutDropDown">
                            <option value="Chest1">Alternate Dumbell Bench Press</option>
                            <option value="Chest1">Diamond Push Ups</option>
                            <option value="Chest1">One Arm Dumbell Flys</option>
                            <option value="Chest1">Bent Over Dumbell Row</option>
                            <option value="Chest1">Dumbell Deadlift</option>
                            <option value="Chest1">Arnould Press</option>
                            <option value="Chest1">Upright Row</option>
                            <option value="Chest1">Weighted Glute Bridge</option>
                            <option value="Chest1">Lunge</option>
                            <option value="Chest1">Alternate Dumbell Curl</option>
                            <option value="Chest1">Tricep Extension With Pause</option>
                            <option value="Chest1">One Arm Seated Dumbell Curl</option>
                            <option value="Chest1">Neck Extension</option>
                            <option value="Chest1">Bicycle Crunch</option>
                            <option value="Chest1">Toe Touches</option>
                            <option value="Chest1">Butt Raises</option>
                        </select>
                    </td>
                    <td>12, 12, 12</td>
                    <td></td>
                    <td></td>
                    <td class="comment"></td>
                </tr>
                <tr>
                    <td rowspan="3" style="text-align: center;">Abs</td>
                    <td>
                        <select class="workoutDropDown">
                            <option value="Chest1">Alternate Dumbell Bench Press</option>
                            <option value="Chest1">Diamond Push Ups</option>
                            <option value="Chest1">One Arm Dumbell Flys</option>
                            <option value="Chest1">Bent Over Dumbell Row</option>
                            <option value="Chest1">Dumbell Deadlift</option>
                            <option value="Chest1">Arnould Press</option>
                            <option value="Chest1">Upright Row</option>
                            <option value="Chest1">Weighted Glute Bridge</option>
                            <option value="Chest1">Lunge</option>
                            <option value="Chest1">Alternate Dumbell Curl</option>
                            <option value="Chest1">Tricep Extension With Pause</option>
                            <option value="Chest1">One Arm Seated Dumbell Curl</option>
                            <option value="Chest1">Neck Extension</option>
                            <option value="Chest1">Bicycle Crunch</option>
                            <option value="Chest1">Toe Touches</option>
                            <option value="Chest1">Butt Raises</option>
                        </select>
                    </td>
                    <td>12, 15</td>
                    <td></td>
                    <td></td>
                    <td class="comment"></td>
                </tr>
                <tr>
                    <td>
                        <select class="workoutDropDown">
                            <option value="Chest1">Alternate Dumbell Bench Press</option>
                            <option value="Chest1">Diamond Push Ups</option>
                            <option value="Chest1">One Arm Dumbell Flys</option>
                            <option value="Chest1">Bent Over Dumbell Row</option>
                            <option value="Chest1">Dumbell Deadlift</option>
                            <option value="Chest1">Arnould Press</option>
                            <option value="Chest1">Upright Row</option>
                            <option value="Chest1">Weighted Glute Bridge</option>
                            <option value="Chest1">Lunge</option>
                            <option value="Chest1">Alternate Dumbell Curl</option>
                            <option value="Chest1">Tricep Extension With Pause</option>
                            <option value="Chest1">One Arm Seated Dumbell Curl</option>
                            <option value="Chest1">Neck Extension</option>
                            <option value="Chest1">Bicycle Crunch</option>
                            <option value="Chest1">Toe Touches</option>
                            <option value="Chest1">Butt Raises</option>
                        </select>
                    </td>
                    <td>12, 12</td>
                    <td></td>
                    <td></td>
                    <td class="comment"></td>
                </tr>
                <tr>
                    <td>
                        <select class="workoutDropDown">
                            <option value="Chest1">Alternate Dumbell Bench Press</option>
                            <option value="Chest1">Diamond Push Ups</option>
                            <option value="Chest1">One Arm Dumbell Flys</option>
                            <option value="Chest1">Bent Over Dumbell Row</option>
                            <option value="Chest1">Dumbell Deadlift</option>
                            <option value="Chest1">Arnould Press</option>
                            <option value="Chest1">Upright Row</option>
                            <option value="Chest1">Weighted Glute Bridge</option>
                            <option value="Chest1">Lunge</option>
                            <option value="Chest1">Alternate Dumbell Curl</option>
                            <option value="Chest1">Tricep Extension With Pause</option>
                            <option value="Chest1">One Arm Seated Dumbell Curl</option>
                            <option value="Chest1">Neck Extension</option>
                            <option value="Chest1">Bicycle Crunch</option>
                            <option value="Chest1">Toe Touches</option>
                            <option value="Chest1">Butt Raises</option>
                        </select>
                    </td>
                    <td>12, 12</td>
                    <td></td>
                    <td></td>
                    <td class="comment"></td>
                </tr>
            </table>
            <input type="submit" style="margin-left: 12%;">
        </form>
        </div>

        <div id="notes">
            <h3 style="margin: 5px; text-decoration: underline;">Notes:</h3>
            <p style="margin: 5px;">Increased the number of sets and resps in a few movements, however did not fully complete the
                workout.
            </p>
        </div>
    </body>
</html>