<!DOCTYPE html>
<html>
    <head>
        <script src="https://kit.fontawesome.com/dca6bfdd72.js"></script>
        <link href="CSS/formatter.css" rel="stylesheet">
        <title>My Workout Planner</title>
        <script src="JS/jquery-3.4.1.min.js"></script>
        <script src="JS/jqueryformatter.js"></script>
    </head>
    <body class="apparelbody">
        <div id="header">
        <ul class="headerbanner">
            <div class="navigatorcontainer">
                <li class="headerbanner"><a href="home.html" class="bannerlinks">
                    <i class="fas fa-home" style="padding: 4px;"></i>Home</a></li>
            </div>

            <div id="workoutDropDown">
                <div class="navigatorcontainer"> 
                    <li class="headerbanner"><a class="bannerlinks" href="workoutHomePage.html">
                        <i class="fas fa-dumbbell" style="padding: 4px;"></i>Workout Planner</a></li>
                </div>
            </div>

            <div class="navigatorcontainer"> 
                <li class="headerbanner"><a class="bannerlinks" href="apparel.html">
                    <i class="fas fa-tshirt" style="padding: 4px;"></i>Apparel</a></li>
            </div>
        </ul>
        </div>

        <div id="mainApparelbox">

        </div>

        <div id="topApparelBox">
            <div id="topleftApparelBox">
                <button></button>
            </div>

            <div id="topRightApparelBox">
                <button></button>
            </div>
        </div>
    </body>
</html>