#workout-table {
    border-style: solid;
    border-collapse: collapse;
    background-color: #203140;
    margin-left: 12%;
    padding-left: 4px;
    position: static;
    width: 88.5%;
}

td {
    padding: 5px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-collapse: collapse;
    color: #A69B8D;
    font-family: Arial, Helvetica, sans-serif;
}

th {
    border-style: solid;
    border-collapse: collapse;
    color: #A69B8D;
    font-family: Arial, Helvetica, sans-serif;
}

#woroutDropDown {
    position: relative; 
    display: inline-block;
}

#workoutDropDownContent {
    display: none;
    position: absolute;
    z-index: 1;
    text-align: center;
    text-indent: 2%;
    padding: 1px;
}

#workoutDropDownContent a {
    text-decoration: none;
    display: block;
    padding: 5px 0px 5px 0px;
}

#workoutDropDown :hover #workoutDropDownContent {
    display: block;
}

.bannerlinks {
    display: block;
    padding: 5px 2px 5px 2px;
    text-decoration: none;
}

#header {
    text-align: center;
    width: 100%;
}

.navigatorcontainer {
    display: block;
}

.headerbanner {
    padding: 0px;
    list-style-type: none;
    background-color: #394A59;
    text-align: center;
}

ul.headerbanner {
    text-align: center;
    width: 10%;
    height: 100%;
    position: fixed;
    overflow: auto;
    border-style: solid;
    border-color: #A69B8D;
}

.dropdownli {
    display: block;
    border-style: solid none solid none;
    border-color: #A69B8D;
    border-width: 1px;
    padding: 0px;
    border-collapse: collapse;
    text-align: center;
    color: #A69B8D;
    font-size: larger;
    font-weight: 900;
}

li.headerbanner {
    display: block;
    border-style: solid none solid none;
    border-color: #A69B8D;
    border-width: 1px;
    padding: 8px;
    border-collapse: collapse;
    text-align: center;
    color: #A69B8D;
    font-size: larger;
    font-weight: 900;
}

body {
    background-color: #A6A6A6;
}

a:link {
    color: #A69B8D;
    text-decoration: none;
}

a:visited {
    color: #A69B8D;
}

a:hover {
    color: wheat;
}

a:active {
    color: #203140;
}

#notes {
    width: 87.75%;
    height: 150px;
    margin-left: 12%;
    padding-left: 4px;
    background-color: #203140;
    border-style: solid;
    border-color: #A69B8D;
    color: #A69B8D;
}

.comment {
    max-width: 150px;
    overflow: hidden;
}

.title {
    margin-left: 13%;
    float: left;
    color: #203140;
}

.body {
    background-image: url(../Images/bgMountain.jpg);
    background-repeat: no-repeat;
    background-position-y: 223px;
    background-position-x: 100px;
    background-size: 100%;
}

#recentWorkouts {
    position: relative;
    right: 18%;
    color: #203140;
    margin: 25px;
}

.workoutBoxes {
    width: 120px; 
    height: 120px; 
    background-color: #394A59; 
    position: relative; 
    left: 15%; 
    margin: 20px; 
    display: inline-block;
    box-sizing: border-box;
    border-style: solid;
    border-color: #A69B8D;
}

.workoutBoxesText {
    border-style: solid;
    border-color: antiquewhite;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #2D3859;
    font-weight: 1000;
    text-align: center;
    box-sizing: border-box;
}

.workoutBoxesButtons {
    position: relative;
    bottom: 18px;
    background-color: #334746;
    width: 100%;
    height: 70px;
    border-style: solid;
    border-color: #A69B8D;
    border-radius: 5px;
    vertical-align: middle;
    color: #A69B8D;
}

.workoutDropDown {
    width: 100%;
    height: 100%;
    background-color: inherit;
    border-style: none;
    text-align: center;
    color: #A69B8D;
}

.apparelbody {
    background-repeat: no-repeat;
}

#topApparelBox {
    border-style: solid;
    width: 89%;
    height: 25%;
    margin-left: 11%;
}

.topRightApparelBox {
    float: right;
    position: relative;
    left: 50%;
}

#mainApparelbox {
    background-image: url(../Images/facets.jpg);
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -1;
}
